dj-database-url==0.5.0
Django
django-heroku==0.3.1
gunicorn
matplotlib>=3.0.3
numpy==1.9.2
pandas
psycopg2-binary==2.9.2
scanpy
scikit-image
scikit-learn>=0.18.0
scipy>=0.14.1
whitenoise==5.3.0
zipp==3.1.0
dropkick==1.2.6